<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.

        foreach (Job jobX in ViewBag.jobs)
            {
                <table class="job-listing">
                    <tr>
                        <td>Job title</td>
                        <td>@jobX.Name</td>
                    </tr>
                    <tr>
                        <td>Employer</td>
                        <td>@jobX.Employer</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>@jobX.Location</td>
                    </tr>
                    <tr>
                        <td>Postion Type</td>
                        <td>@jobX.PositionType</td>
                    </tr>
                    <tr>
                        <td>Competency</td>
                        <td>@jobX.CoreCompetency</td>
                    </tr>
                </table>
            } 
    }


</div>